%h1 
  Редактировать расклад:
  =@spread.name

= render 'form'

= link_to 'Просмотр расклада', @spread
\|
= link_to 'Все расклады для этого клиента', client_path(@spread.client)
\|
= link_to 'Список всех раскладов', spreads_path