

* { padding:0; margin:0; }

body {
	/*background-color:#1e1e1e;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px; */
}

a:link { color:#CCCCCC; text-decoration: none; }
a:visited { color: #CCCCCC; text-decoration: none; }
a:hover { text-decoration: underline; color: #CCCCCC; }
a:active { text-decoration: underline; color: #CCCCCC; }

#wrapper {
	min-width:1000px;
        overflow: visible;
	margin:0 auto;
}

			
#header {
	background-image:url(../images/banner.png);
	background-repeat:no-repeat;
	height:74px;
	width:548px;
        position: relative;
        left: 50%;
        margin-left: -274px;
	margin-top:8px;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFFFFF;
}

#header span {
	position:relative;
	left: 40px;
	top: 25px;
	color:#FFFFFF;
}

	#header a {
		display:block;
		height:74px;
		text-decoration:none;
	}
	#header a:hover {
	text-decoration: none;
	}
		
#main {
	min-width:700px;
	float:left;
	overflow: visible;
}

#absolute-wrapper {
    position:absolute;
}

.info {
	background-image:url(../images/cbg.png);
	background-repeat:no-repeat;
	height:255px;
	width:106px;
}

.cpost {
	background-image:url(../images/cbg2.png);
	min-height: 255px;
	max-height:none;
	width:442px;
	clear:both;
}
		
h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#FFF;
	padding-top:19px;
	padding-left:14px;
}

h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	colour: #fff;
}

		
#sidebar {
	width:237px;
	float:left;
        margin-right: 10px;
	overflow: hidden;
}		

#atop {
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	height:52px;
	width:237px;
	line-height:48px;
	padding-left:12px;
	margin-top:8px;
	color:#FFF;
	font-weight:bold;
	overflow: hidden;
}

	.color {
		color:#fb4e00;
	}	
	
#acontent {
	background-image:url(../images/bg2.png);
	background-repeat:repeat-y;
	width:237px;
	text-align:center;
	padding:2px 0 20px 0;
}



#afoot a {
	color: #000000;
}
		
#afoot {
	background-image:url(../images/footer.png);
	background-repeat:no-repeat;
	height:54px;
	width:237px;
}

#leftc {
	float:left;
	width:100px;
	margin-left:37px;
	padding-top:20px;
	
}

#rightc {
	float:right;
	padding-right:22px;
	padding-top:20px;
}		

.btop {
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	height:52px;
	width:237px;
	
	line-height:48px;
	padding-left:12px;
	margin-top:8px;
	color:#FFF;
	font-weight:bold;
}
	
.bcontent {
	background-image:url(../images/bg2.png);
	background-repeat:repeat-y;
	font-size:11px;
	text-align:left;
	line-height:16px;
	padding:2px 8px 0 25px;
}

.bcontent ul li {
    padding-bottom: 10px;
}

.bcontent ul li.important {
    font-weight: bold;
}

.bcontent.share {
    padding-right: 15px;
}

.bcontent.share table, .bcontent.share iframe {
    margin: 0px;
    display: inline;
}

.bcontent.share td {
    padding: 0px;
}

.bcontent a {
	color: #000000;
	}
        
		
.bfoot {
	background-image:url(../images/footer2.png);
	background-repeat:no-repeat;
	height:12px;
	width:237px;
}

.float-left  { float: left; padding-right: 5px; }
.float-right { float: right; padding-left: 5px; }

img {
border: 0px;
}

blockquote {
	margin: 15px; 	padding: 0 0 0 20px;  	
  	background-color:#FAFAFA; 
	background-position: 8px 10px;
	border-left: 5px solid #666666;  
	font: bold 1.2em/1.5em "Trebuchet MS", Tahoma, sans-serif; 
	color: #000000;	
	font-style:italic;
	margin-right: 5px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border-left: 5px solid #666666;
  margin-right:5px;
  color: #000000;	
}

strong {
	color: #FFFFFF;
	}
	
#ads {
    width: 750px;
    margin-top: 40px;
    position: relative;
}

#ads table {
    margin: 0px;
}
	
#footer {
	border-radius: 4px;
	background: #111;
	clear:both;
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
}
#footer span {
	font-size:16px;
	color:#666666;
}