%h3 Запрос на смену пароля

%p 
  На сайте 
  =link_to "Блокнот Таролога", root_url
  поступил запрос на смену пароля для вашего аккаунта. Сделать это вы можете, перейдя по ссылке:

%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Если вы не запрашивали смену пароля - просто проигнорируйте это письмо. Ваш пароль не будет изменён, пока вы не смените его, пройдя по ссылке.